html,
body {
  overflow-x: hidden;

}
.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

.row {
  margin: 15px;
}
.navbarNavDropdown {
  padding: inherit;
  margin: auto;
}
.card {
  margin-bottom: 0px;
  margin-top: 0px;

}
.col-md-4 {
  padding: 0px;

}
.col-md-3 {
  margin-bottom: 15px;
  margin-top: 15px;
  height: 500;
}
h2 span {
	color			: white;
	font			: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing		: -1px;
	background		: rgb(0, 0, 0);
	background		: rgba(0, 0, 0, 0.7);
	padding			: 10px;
}
